.chatContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (40.5px + 15px + 32px + 32px + 64px));
  max-height: calc(100vh - (40.5px + 15px + 32px + 32px + 64px));
}

.chatHeader {
  background-color: #182533;
  height: 64px;
  border-radius: 12px 12px 0 0;
  padding: 0 16px;
}

.chatBody {
  flex-grow: 1;
  overflow-y: auto;
  padding: 24px;
}

.chatBody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #182533;
  box-shadow: inset 0 0 6px #182533;
  border-radius: 0;
  background-color: #8d8d8d;
}

.chatBody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #8d8d8d;
}

.chatBody::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px #182533;
  box-shadow: inset 0 0 6px #182533;
  background-color: #182533;
}

.chatBody,
.chatFooter {
  background-color: #fff;
}

.chatFooter {
  height: 64px;
  border-radius: 0 0 12px 12px;
  padding: 16px;
  padding-top: 0;
  display: flex;
}

.chatFooterComplaintInput {
  margin-inline-start: 15px;
  background-color: #e3e3e3;
  border-radius: 22px;
  padding: 0 20px;
}

.chatFooterComplaintInput > * {
  background-color: #e3e3e3;
}

.chatFooterActionsIcon {
  font-size: 24px;
  cursor: pointer;
}
