.createPostCard {
  width: 100%;
  border: 1px solid #484848;
  border-radius: 33px;
}

.createPostCardBody {
  background-color: #fff;
  padding: 20px;
  border-radius: 33px 33px 0 0;
}

.createPostCardTextArea,
.createPostCardTextArea:hover,
.createPostCardTextArea:focus {
  border: none;
  box-shadow: none;
}

.createPostCardFooter {
  background-color: #e3e3e3;
  padding: 10px 50px;
  border-top: 1px solid #484848;
  border-radius: 0 0 33px 33px;
}

.createPostCardFooterPostBtn {
  color: #ffffff;
  background-color: #484848;
  border-color: #484848;
  border-radius: 27px;
  width: 80px;
}

.infiniteScrollEndMessage {
  text-align: center;
  margin-top: 15px;
}

.postCard {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 18px;
  padding: 20px;
  padding-inline-end: 40px;
}

.postCardAuthorName {
  line-height: 12px !important;
}

.postCardContent {
  padding-inline-start: 75px;
  color: #707070;
}

.postCardActions {
  padding-inline-start: 90px;
  padding-inline-end: 55px;
}

.postCardActionsIcon {
  font-size: 24px;
  cursor: pointer;
}

.postCardActionsIconHeart {
  color: var(--yh-prim-color);
}

.postCardActionsButton,
.postCardActionsButton:hover,
.postCardActionsButton:focus {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  height: fit-content !important;
}

.commentsContainer {
  padding-inline-start: 75px;
}

.postCardCommentSection {
  display: flex;
}

.postCardCommentInput {
  margin-inline-start: 15px;
  background-color: #e3e3e3;
  border-radius: 22px;
  padding: 0 20px;
}

.postCardCommentInput > * {
  background-color: #e3e3e3;
}

.patientsSection {
  height: 500px;
  background-color: #0e1621;
  border-radius: 27px;
}
