.navbar {
  width: calc(100vw - 250px);
  position: fixed;
  margin-inline-start: 250px;
  padding: 0 32px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autoComplete {
  width: 350px;
}

.borderRadius {
  border-radius: 12px;
}
