.orderCard {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 28px;
}

.orderCardDoctorCard {
  background-color: rgb(24, 37, 51);
  border-radius: 0 28px 28px 0;
  padding: 20px 0;
}

.orderCardContentCard {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.orderCardContentCardPara {
  white-space: pre-line;
  color: #707070;
  flex-grow: 1;
}

.orderCardContentCardBtn {
  width: fit-content;
  align-self: flex-end;
}
